* {
  max-width: 100%;
  overflow: hidden;
}

html {
  height: 100vh;
  width: 100%;
  background-color: rgb(170, 218, 255);
}

body {
  background-image: url("pictures/researchBackground.PNG");
  width: 100vw;
  height: 100%;
  padding: 0%;
  margin: 0%;
}

#navigation {
  height: 80vh;
  width: 100%;
  margin-top: 0vh;
  margin-left: 0vw;
  position: fixed;
  padding: 0;
}

.navbar.main {
  padding: 0;
}

img.navImg {
  height: 70%;
  width: 100%;
  margin-bottom: 0.05vh;
  text-align: center;
}

img.navImg.logo {
  margin-bottom: 0.01vh;
}

.row.navRow {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.btn.navButton {
  width: 6vw;
  margin: 0;
  padding: 0;
  height: 15vh;
  white-space: normal;
  border-color: rgba(175, 175, 175, 0.9);
  font-size: 0.65vw;
  background-color: rgba(215, 215, 215, 0.75);
}

.btn.navButton.top {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-color: rgb(185, 185, 185);
}

.btn.navButton.bottom {
  border-top-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-width: 0;
  border-bottom-left-radius: 0;
}

.btn.navButton.mid {
  border-radius: 0;
  border-top-width: 0;
  border-bottom-color: rgb(185, 185, 185);
}

.btn.navButton.logo {
  font-size: 3vh;
  height: 13vh;
  cursor: default;
}

.btn.navButton.logo:hover {
  cursor: default;
}

.navButton:not(.logo):hover {
  background-color: rgb(185, 195, 185);
}

.analysis {
  margin-right: 0;
  margin-top: 0;
  float: right;
  width: 17vw;
}

.row.main {
  margin: 0;
  padding: 0;
}

.analysis-button {
  width: 100%;
  text-align: left;
  background-color: rgb(195, 195, 195);
  -webkit-appearance: none;
  box-sizing: unset;
  border-image: none;
  border-color: rgb(175, 175, 175);
  border-width: 1px;
  border-style: none;
  cursor: pointer;
}

.analysis-button:hover {
  background-color: rgb(165, 165, 165);
}

.content {
  width: 100%;
  height: 40vh;
  border-bottom-left-radius: 0.5vw;
  background-color: rgba(195, 195, 195, 0.85);
}

.col-2.main {
  padding: 0;
  margin: 0;
}

.col-4.main {
  padding: 0;
  margin: 0;
}

.row.buttonGroupOutter {
  height: 20vh;
  margin-right: 0;
  margin-left: 0;
}

.col-6.buttonGroupInner {
  padding: 0;
}

button.button {
  height: 80%;
  width: 100%;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-color: none;
  border-width: 0;
  font-size: 2vh;
  word-wrap: normal;
  margin: 0;
  margin-bottom: 1vh;
}

button.button:hover {
  background-color: rgb(185, 195, 185);
  cursor: pointer;
}

.a-icon {
  margin: 1.5vh;
  margin-top: 0vh;
  margin-bottom: .5vh;
  height: 70%;
  width: 100%;
}

.btn-group.graph {
  width: 100%;
}

button.graph {
  width: 50%;
  -webkit-appearance: button-bevel;
  background-color: rgba(0, 0, 0, 0);
  border-color: black;
}

#sub-menu {
  transform: translateX(6vw);
  padding: 0;
  width: 6vw;
  height: 100vh;
  border-color: black;
  border-style: solid;
}

#speciesNav {
  transform: translateY(12.8vh);
  width: 0;
  transition: 0.2s;
  transition-delay: 0.1s;
}