#transform {
  transform: translateY(-100vh);
}

#map {
  height: 100vh;
  position: relative;
  overflow: visible !important;
}

body {
  /*background-image: url("pictures/researchBackground.PNG");*/
  width: 100vw;
  height: 100%;
  padding: 0%;
  margin: 0%;
  overflow: hidden;
}

#navigation {
  height: 80vh;
  width: 100%;
  margin-top: 0vh;
  margin-left: 0vw;
  position: fixed;
  padding: 0;
}

.navbar.main {
  padding: 0;
}

img.navImg {
  height: 70%;
  width: 100%;
  margin-bottom: 0.05vh;
  text-align: center;
}

img.navImg.logo {
  margin-bottom: 0.01vh;
}

.row.navRow {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.btn.subButton {
  width: 5vw;
  margin: 0;
  padding: 0;
  height: 13.05vh;
  white-space: normal;
  border-color: rgba(175, 175, 175, 0.9);
  font-size: 0.65vw;
  background-color: rgba(215, 215, 215, 0.75);
}

.btn.subButton1 {
  width: 5vw;
  margin: 0;
  padding: 0;
  height: 13.17vh;
  white-space: normal;
  border-color: rgba(175, 175, 175, 0.9);
  font-size: 0.65vw;
  background-color: rgba(215, 215, 215, 0.75);
}

.btn.navButton {
  width: 5vw;
  margin: 0;
  padding: 0;
  height: 13vh;
  white-space: normal;
  border-color: rgba(175, 175, 175, 0.9);
  font-size: 0.65vw;
  background-color: rgba(215, 215, 215, 0.75);
}

.btn.navButton.top,
.btn.subButton.top,
.btn.subButton1.top {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-color: rgb(185, 185, 185);
}

.btn.navButton.bottom,
.btn.subButton.bottom {
  border-top-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-width: 0;
  border-bottom-left-radius: 0;
}

.btn.subButton1.bottom {
  border-top-width: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-width: 0;
}

.btn.navButton.mid,
.btn.subButton.mid,
.btn.subButton1.mid {
  border-radius: 0;
  border-top-width: 0;
  border-bottom-color: rgb(185, 185, 185);
}

.btn.navButton.logo,
.btn.subButton.logo,
.btn.subButton1.logo {
  font-size: 3vh;
  height: 13vh;
  cursor: default;
}

.btn.navButton.logo:hover {
  cursor: default;
}

.navButton:not(.logo):hover,
.btn.subButton:hover {
  background-color: rgb(185, 195, 185);
}

.analysis {
  margin-right: 0;
  margin-top: 0;
  float: right;
  width: 17vw;
  overflow: hidden;
}

.row.main {
  margin: 0;
  padding: 0;
}

.analysis-button {
  width: 100%;
  text-align: left;
  background-color: rgb(195, 195, 195);
  -webkit-appearance: none;
  box-sizing: unset;
  border-image: none;
  border-color: rgb(175, 175, 175);
  border-width: 1px;
  border-style: none;
  cursor: pointer;
  overflow: hidden;
}

.analysis-button:hover {
  background-color: rgb(165, 165, 165);
}

.content {
  width: 100%;
  height: auto;
  border-bottom-left-radius: 0.5vw;
  background-color: rgba(195, 195, 195, 0.85);
  overflow: hidden;
}

.col-2.main {
  padding: 0;
  margin: 0;
}

.col-4.main {
  padding: 0;
  margin: 0;
}

.row.buttonGroupOutter {
  height: 15vh;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 4vh;
}

.col-6.buttonGroupInner {
  padding: 0;
}

button.button {
  height: 90%;
  width: 100%;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-color: none;
  border-width: 0;
  font-size: 2vh;
  word-wrap: normal;
  margin: 0;
  margin-bottom: 1vh;
}

button.button:hover {
  background-color: rgb(185, 195, 185);
  cursor: pointer;
}

button:focus{
  outline: none !important;
}

.a-icon {
  margin: 1.5vh;
  margin-top: 0vh;
  margin-bottom: 0.5vh;
  height: 70%;
  width: 100%;
}

.btn-group.graph {
  width: 100%;
}

button.graph-button {
  width: 50%;
  height: 4vh;
  -webkit-appearance: none;
  background-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-color: rgb(185, 185, 185);
  border-width: 1px;
  font-size: 0.9em;
  margin-bottom: 1vh;
}

button.graph-button:hover {
  background-color: rgb(185, 195, 185);
}

button.graph-button.active {
  background-color: rgb(185, 195, 185);
}

#sub-menu {
  transform: translateX(4.97vw);
  padding: 0;
  width: 6vw;
  height: 100vh;
  overflow: hidden;
}

#sub-menu-1 {
  transform: translateX(4.42vw);
  padding: 0;
  width: 6vw;
  height: 100vh;
  overflow: hidden;
}

#speciesNav {
  transform: translateY(12.9vh);
  width: 0;
  transition: 0.1s;
  overflow: hidden;
}

#disturbanceNav {
  transform: translateY(-13.25vh);
  width: 0;
  transition: 0.1s;
  overflow: hidden;
}

#activitiesNav {
  transform: translateY(51.85vh);
  width: 0;
  transition: 0.1s;
  overflow: hidden;
}

.parameter-label {
  margin-bottom: 0;
}

.row.statistic {
  height: 15vh;
  margin: 0.5vh;
  padding: 0;
}

.row.deep {
  height: 15vh;
  margin-left: 25%;
  margin-right: 25%;
  padding: 0;
  height: 0;
}

img.deepgraph {
  width: 100%;
  height: 95%;
}

.col-6.statistic {
  margin-bottom: 0.5vh;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

.col-6.parm-l {
  padding-left: 0.5vw;
  padding-right: 0.25vw;
  font-size: 0.8em;
}

.col-6.parm-r {
  padding-left: 0.25vw;
  padding-right: 0.5vw;
  font-size: 0.8em;
}

.graph {
  width: 100%;
  height: 100%;
  padding: 0;
}

.time {
  border-style: none;
}

div.login-content {
  height: 40vh;
  background-color: rgb(195, 195, 195);
  border-radius: 0.5vw;
}

.login-header {
  width: 100%;
  text-align: center;
  font-size: 4vh;
  border-bottom-color: rgb(185, 185, 185);
  border-bottom-style: solid;
  background-color: rgb(165, 165, 165);
}

.login-fields {
  margin: 5vh;
}

.login-btn {
  -webkit-appearance: none;
  border: none;
  margin: 0;
  width: 50%;
  height: 7vh;
  background-color: rgb(165, 165, 165);
  border-style: solid;
  border-color: rgb(195, 195, 195);
}

.login-btn:hover {
  background-color: rgb(145, 145, 145);
}

#login {
  margin-top: 30vh;
  margin-bottom: 30vh;
  visibility: hidden;
  overflow: hidden;
}

.btn {
  position: relative;
  z-index: 6;
}

.no-mouse{
  pointer-events: none;
}

ul, .analysis{
  pointer-events: all;
}